<h1>Next time I want to <span id="note_title"></span></h1>
<textarea id="note_content">

</textarea>
<br>

<button class="btn primary" id="note_submit"><a href="#" id="note_form_submit">Add Code</a></button>
