// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#note_search {
  width: 500px;
  height: 29px;
  border-radius: 16px;
  border: 1px solid #CCC;
  outline: none;
  font: bold 20px helvetica;
  color: #CCC;
  padding-left: 10px;  
}


// Syntax Highlighting
.code {
  color: #333;
  .keyword, .constant {
    color: #06f;
  }
  .function, .integer {
    color: #69f;
  }
}

#search_label {
  font: bold 27px Helvetica;
  width: 200px;  
  margin-right: 10px;
}

.new_note {
  margin-top: 20px;
}

button a, button a:hover {
  color: #fff;
  text-decoration: none;
}
// New code button
#new_code_button {
  float: right;
  margin-top: -53px;  
}

#note_content {
  width: 600px;
  height: 300px;
  font-size: 18px;
}

#note_title_text_box {
  margin-top: -10px;
}

#note_submit {
  margin-left: 522px;
  margin-top: 10px;
}



